<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>親愛度育成サポート</title>
    <link rel="stylesheet" type="text/css"
        href="../../static/css/style.css"
        th:href="@{/css/style.css}"/>
    <script type="text/javascript"
            src="../../static/js/sample.js" th:src="@{/js/sample.js}"></script>
</head>
<body>
<div>
    <form th:action="@{/unregistered-checker/register}" method="get">
        <input type="submit" value="登録"/>
    </form>
    <form th:action="@{/unregistered-checker/check}" method="get">
        <input type="submit" value="チェック"/>
    </form>
</div>
</body>
</html>